<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="menu"></div>
<a th:href="@{'/new'}">Új eredmény hozzáadása</a>
<br/><br/>
<table>
    <thead>
    <th>Dátum</th>
    <th>Pilóta ID</th>
    <th>Helyezés</th>
    <th>Hiba</th>
    <th>Csapat</th>
    <th>Típus</th>
    <th>Motor</th>
    </thead>
    <tbody>
    <tr th:each="eredmeny: ${eredmenyek}">
        <td th:text="${eredmeny.datum}"></td>
        <td th:text="${eredmeny.pilotaaz}"></td>
        <td th:text="${eredmeny.helyezes}"></td>
        <td th:text="${eredmeny.hiba}"></td>
        <td th:text="${eredmeny.csapat}"></td>
        <td th:text="${eredmeny.tipus}"></td>
        <td th:text="${eredmeny.motor}"></td>
        <td>
            <a th:href="@{'/edit/'+${eredmeny.id}}">Edit</a>&nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/'+${eredmeny.id}}">Delete</a>
        </td>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>